@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-geist-sans), sans-serif;
  color: var(--foreground);
  background-color: var(--background);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  /* inline-flex miatt a whitespace-nowrap is bejön implicit */
  animation: marquee 90s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.img-base {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.img-base:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}
